@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
/* Global Rules */
:root {
  --main-color: #a79a2d;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1400px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}

.home__heading, .cards__heading, .gallery__heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

@media (max-width: 1000px) {
  .home__heading, .cards__heading, .gallery__heading {
    font-size: 9rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

@media (max-width: 700px) {
  .home__heading, .cards__heading, .gallery__heading {
    font-size: 7rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* NAV */
nav {
  width: 100%;
  height: 14rem;
  background-color: #000;
  position: fixed;
  top: -14rem;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #000;
          box-shadow: 0.2rem 0.2rem 0.2rem #000;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

nav.active {
  top: 0;
  -webkit-transition: top 0.4s 0.2s;
  transition: top 0.4s 0.2s;
}

nav.active a {
  opacity: 1;
}

nav.active a:nth-child(1) {
  -webkit-transition: opacity 0.4s 0.5s, color 0.3s;
  transition: opacity 0.4s 0.5s, color 0.3s;
}

nav.active a:nth-child(2) {
  -webkit-transition: opacity 0.4s 0.6s, color 0.3s;
  transition: opacity 0.4s 0.6s, color 0.3s;
}

nav.active a:nth-child(3) {
  -webkit-transition: opacity 0.4s 0.7s, color 0.3s;
  transition: opacity 0.4s 0.7s, color 0.3s;
}

nav.active a:nth-child(4) {
  -webkit-transition: opacity 0.4s 0.8s, color 0.3s;
  transition: opacity 0.4s 0.8s, color 0.3s;
}

nav.active a:nth-child(5) {
  -webkit-transition: opacity 0.4s 0.9s, color 0.3s;
  transition: opacity 0.4s 0.9s, color 0.3s;
}

nav a {
  color: #aaa;
  margin: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: color 0.3s, opacity 0.2s;
  transition: color 0.3s, opacity 0.2s;
}

nav a:hover {
  color: #fff;
}

@media (max-width: 900px) {
  nav a {
    margin: 2rem;
  }
}

@media (max-width: 550px) {
  nav a {
    margin: 0 0.7rem;
  }
}

nav a i {
  font-size: 7rem;
}

@media (max-width: 900px) {
  nav a i {
    font-size: 4rem;
  }
}

nav a span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}

@media (max-width: 900px) {
  nav a span {
    margin: 2rem;
  }
}

.menu {
  width: 4rem;
  height: 6rem;
  background-color: #000;
  position: fixed;
  top: 1rem;
  left: 5rem;
  border-radius: 30rem 30rem 15rem 15rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #000, -0.1rem -0.1rem 0.1rem #000;
          box-shadow: 0.1rem 0.1rem 0.1rem #000, -0.1rem -0.1rem 0.1rem #000;
  cursor: pointer;
  -webkit-transition: top 0.4s 0.2s;
  transition: top 0.4s 0.2s;
  z-index: 100;
}

@media (max-width: 700px) {
  .menu {
    left: 2rem;
  }
}

.menu.active {
  top: 15rem;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

.menu::before {
  content: '';
  width: 0.3rem;
  height: 15rem;
  background-color: #000;
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
  -webkit-box-shadow: 0.1rem 0 0.1rem #000;
          box-shadow: 0.1rem 0 0.1rem #000;
}

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.home__heading {
  margin-top: -10rem;
}

.home__icons {
  margin-top: 10rem;
}

.home__icons i {
  font-size: 35rem;
  color: var(--main-color);
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1000px) {
  .home__icons i {
    font-size: 25rem;
  }
}

@media (max-width: 700px) {
  .home__icons i {
    font-size: 20rem;
  }
}

.home__icons i.change {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}

/* Cards Section */
.cards {
  width: 100%;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10rem 0 12rem;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10rem;
}

@media (max-width: 1000px) {
  .cards__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cards__container .card {
  width: 30rem;
  background-color: var(--main-color);
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1rem 1rem 1rem #000;
          box-shadow: 1rem 1rem 1rem #000;
  position: relative;
  -webkit-transform: rotateY(20deg) skewX(-2deg);
          transform: rotateY(20deg) skewX(-2deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .cards__container .card {
    margin: 5rem;
  }
}

.cards__container .card:hover {
  -webkit-transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
          transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
  -webkit-box-shadow: 2rem 2rem 2rem #000;
          box-shadow: 2rem 2rem 2rem #000;
}

.cards__container .card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1rem;
  background-color: #817824;
  top: 0;
  left: -1rem;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-box-shadow: -0.1rem -0.1rem 0.1rem #000;
          box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.cards__container .card::after {
  content: '';
  position: absolute;
  height: 1rem;
  width: 100%;
  background-color: #8f8317;
  top: -1rem;
  left: 0;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-box-shadow: -0.1rem -0.1rem 0.1rem #000;
          box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.cards__container .card__img {
  width: 100%;
}

.cards__container .card__name {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #111;
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem #000;
}

.cards__container .card__btn {
  width: 70%;
  background-color: #111;
  color: #888;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem #000;
          box-shadow: -0.2rem -0.2rem 0.2rem #000;
}

/* Gallery Section */
.gallery {
  background-color: #333;
  padding: 5rem 0;
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10rem;
}

.gallery__container .item {
  position: relative;
  margin: 4rem 1rem;
}

@media (max-width: 1400px) {
  .gallery__container .item {
    width: 40rem;
    height: 25rem;
  }
}

.gallery__container .item::before {
  content: '';
  position: absolute;
  width: 0.2rem;
  height: 0;
  background-color: #fff;
  top: 2vw;
  left: 80%;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  z-index: 10;
}

.gallery__container .item:hover::before {
  height: 80%;
}

.gallery__container .item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  top: 30%;
  left: 2rem;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.gallery__container .item:hover::after {
  width: 90%;
}

.gallery__container .item__img {
  width: 24vw;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946, 0.7rem 0.7rem 0.1rem #297ce9, 0.3rem 0.3rem 0.1rem #e92999;
          box-shadow: 0.3rem 0.3rem 0.1rem #e92929, 0.5rem 0.5rem 0.1rem #a2e946, 0.7rem 0.7rem 0.1rem #297ce9, 0.3rem 0.3rem 0.1rem #e92999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1400px) {
  .gallery__container .item__img {
    width: 100%;
    height: 100%;
    margin: 5rem 0;
  }
}

.gallery__container .item:hover .item__img {
  -webkit-box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946, 3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
          box-shadow: 1rem 1rem 0.1rem #e92929, 2rem 2rem 0.1rem #a2e946, 3rem 3rem 0.1rem #297ce9, 4rem 4rem 0.1rem #e92999;
  -webkit-filter: blur(0.5rem);
          filter: blur(0.5rem);
  opacity: 0.5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery__container .item__name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.gallery__container .item:hover .item__name {
  width: 100%;
  -webkit-transition: width 1.5s 0.5s;
  transition: width 1.5s 0.5s;
}

.gallery__container .item__description {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.gallery__container .item:hover .item__description {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s 1s;
  transition: opacity 1s 1s;
}

/* STOP USING BEM BECAUSE IT'S SUCKS */
/* Contact Section */
.contact {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 700px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .text {
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .contact .text {
    margin-bottom: 5rem;
    text-align: center;
  }
}

.contact .text h2 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--main-color);
}

.contact .text p {
  font-size: 1.5rem;
  color: #888;
}

.contact .sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .contact .sign-up {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact .sign-up__input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid var(--main-color);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: var(--main-color);
  caret-color: var(--main-color);
}

.contact .sign-up__input::-webkit-input-placeholder {
  color: var(--main-color);
}

.contact .sign-up__input:-ms-input-placeholder {
  color: var(--main-color);
}

.contact .sign-up__input::-ms-input-placeholder {
  color: var(--main-color);
}

.contact .sign-up__input::placeholder {
  color: var(--main-color);
}

.contact .sign-up__btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #333;
  color: var(--main-color);
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.contact .copyright {
  bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 200;
  color: #eee;
  letter-spacing: 0.1rem;
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #888;
  width: 100%;
  text-align: center;
}
